*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0%;
    padding: 0%;
}


body{
    margin: 0%;
    padding: 0%;
}

footer{
    background-color:antiquewhite;
    height: 130px;
    text-align: center;
}


img{
    width: 150px;
    height: 150px;
}

h1{
    background-color: antiquewhite;
    height: 100px;
    margin-left: 600px;
    margin-right: 600px;
    margin-top: 50px;
    font-size: 70px;
    color:lightpink;
    text-align: center;
    border-radius: 50px;
}

h2{
    font-size: 40px;
    margin-left: 400px;
    margin-top: 50px;
}


.tabla_sabores{
    margin-left: 500px;
    margin-bottom: 50px;
    background-color: azure;
}

.tabla_decoraciones{
    margin-left: 500px;
    margin-bottom: 50px;
    display: flex;
    padding-bottom: 50px;
}

form{
    text-align: center;
    background-color: azure;
    padding-bottom: 20px;
    margin-right: 600px;
    margin-left: 600px;
    margin-bottom: 60px;
    border-radius: 30px;

}


