*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0%;
    padding: 0%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


body{
    margin: 0%;
    padding: 0%;
}

a{text-decoration: none;color: rgb(63, 62, 62);}

.menu{
    background-color: beige;
    display: flex;
    padding: 40px;
    align-items: center;
    justify-items: center;
}
.nombre{
    font-size: 38px;
    color: blue;
    justify-content: flex-start;
}

.barraNavegacion{
    margin-right: 200px;
    display: flexbox;
    margin-left: 400px;
}

.barra{
    padding: 40px;
    font-size: 25px;

}


.menuButton{
text-decoration: none;
color: #fff;
background-color: #2949C7;
padding: 25px;
border: none;
border-radius: 5px;
font-size: 25px;
box-shadow: 0 1px 10px rgb(33 87 234 / 54%);
text-align: center;
margin-left: 50px;


}


.img1{
    width: 700px;
    display: flex;
    justify-items: end;
    align-items: flex-end;
}
